obj/Debug/net6.0/refint/studentAPI.dll
obj/Debug/net6.0/refint/studentAPI.dll
bin/Debug/net6.0/studentAPI.dll
bin/Debug/net6.0/studentAPI.pdb
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/studentAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/studentAPI.dll
obj/Debug/net6.0/studentAPI.pdb
obj/Debug/net6.0/ref/studentAPI.dll
bin/Debug/net6.0/studentAPI.dll
bin/
obj/
